/*
BODY
*/
body, html {
	padding: 0px;
	margin: 0px;
}
.block {
	margin:0;
	padding:0;
}

h2 {
	font-size: 20px;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

button {
	font-weight: bold;
}

/*
HEADER
*/
.header {
	padding: 0;
	height: 100px;
	line-height: 100px;
	position: fixed;
	z-index: 8;
	top: 0;
	left:0;
	right: 0;
	background-color: #0c2461;
	float: left;
	overflow: hidden;
}

.header-menu {
	float: right;
	text-align: right;
	margin-right: 2%;
}

.header-title {
	letter-spacing: 1px;
	margin-left: 10%;
}

.header .header-title {
	color: white;
	font-family: 'Monoton', cursive;
	font-size: 30px;
}

.header .header-title:hover {
	color: #e67e22;
}

.header .header-menu a {
	font-family: 'Ultra', serif;
	color: white;
	margin-left: 12px;
}
.header .header-menu a:hover {
	color: #78e08f;
}
/*
HEADER END
*/


/*
BANNER
*/

#banner {
	background-color: #0c2461;
	padding-bottom: 0px;
}

#banner .banner-image {
    top: 0;
    left: 0;
    margin-top: 76px;
   	max-width: 100%;
   	max-height: 100%;
   	position: relative;
   	padding: 0px;
   	margin: 0px;
}

.banner-title {
	top: 16%;
	text-align: left;
	position: absolute;
	color : white;
	max-height: 30%;
	font-family: 'Arbutus Slab', serif;
	max-width: 28%;
	margin-left: 2%;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	font-size: 30px;
}

.banner-title-2 {
	text-align: center;
	color : white;
	font-family: 'Arbutus Slab', serif;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	background-color: black;
	opacity: 0.8;
	width: 100%;
	padding-bottom: 1%;
	margin: 0!important;
}

.banner-title-p {
    bottom: 20%;
    transform: translateY(50%);
	text-align: left;
	position: absolute;
	color : white;
	max-height: 30%;
	font-family: 'Arbutus Slab', serif;
	max-width: 28%;
	margin-left: 2%;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	font-size: 16px;
}
/*
BANNER END
*/

/*
PROGRAM
*/
.program-title {
	background-image:linear-gradient( #0c2461, #0c2461, #0c2461, white);
	font-family: 'Arbutus Slab', serif;
	color: white;
	min-height: 50px;
	padding-top: 7px;
	float: left;
	text-align: center;
	overflow: hidden;
	display: flex;
}

 #program-anchor {
 	font-weight: bold;
 }

.button-prog {
	float: right;
	padding-top: 0%;
	transform: translateY(-12%);
}

.button :hover {
	color: #e67e22;
}

.program-list {
	text-align: center;
	padding: 0px;
	margin-bottom: 5px;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.program-list-18h {
	margin-bottom: 10%;
}

.program-list-20h {
	margin-bottom: 5%;
	padding-top: 7%;
}


.program_list-18h p {
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	color: white;
}

.program_list-20h p {
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	color: white;
}


.date {
	font-size: 17pt;
	color: #e67e22;
	text-align: center;
	font-weight: bold;
}

.img {
	margin-bottom: 5%;	
}

.program-list-friday {
	background-color: #0c2461;
	color : white;
	padding-top: 2%;
	margin-top: 3%;
	border-radius: 15px;
	padding: 10px;
  	border: 2px solid #e67e22;
}

.program-list-saturday {
	background-color: #0c2461;
	color : white;
	padding-top: 2%;
	margin-top: 3%;
	border-radius: 15px;
	padding: 10px;
  	border: 2px solid #e67e22;
}

.program-list-sunday {
	background-color: #0c2461;
	color : white;
	padding-top: 2%;
	margin-top: 3%;
	border-radius: 15px;
	padding: 10px;
  	border: 2px solid #e67e22;
}

.program-list-monday {
	background-color: #0c2461;
	color : white;
	padding-top: 2%;
	margin-top: 3%;
	border-radius: 15px;
	padding: 10px;
  	border: 2px solid #e67e22;
}
/*
PROGRAM END
*/

/*
ORDER FORM
*/
.order {
	background-color: white;
	overflow: hidden;
}

.order-title {
	background-image:linear-gradient( white, #0c2461, #0c2461, #0c2461, #0c2461);
	font-family: 'Arbutus Slab', serif;
	color: white;
	min-height: 50px;
	padding-top: 15px;
	text-align: center;
	margin-top: 5%;
}

.order-text {
	padding-top: 10%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	font-family: 'Arbutus Slab', serif;
	color: black;
	float: left;
	font-size: 20px;
}

.order-star {
	font-family: 'georgia';
	text-align: center;
}

.form {
	font-family: 'Arbutus Slab', serif;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
	padding-top: 0!important;
	margin-bottom: 1%;
	min-width: 50%;
	float: right;
	background-color: #0c2461;
	color : white;
	border-radius: 15px;
	padding: 10px;
  	border: 2px solid #e67e22;
}

.form p {
	font-size: 16px;
}


.form-coche-1 {
	text-align: center;
}

.form-coche {
	text-align: left;
	color: white;
	margin-bottom: 10px;
	padding-left: 35%;
}

.form-coche-2 {
	text-align: center;
}

.form-coche-3 {
	color: white;
	text-align: center;
	margin-bottom: 10px;
}

.date1 {
	color: #e67e22;
	padding-top: 2%;
}


fieldset {
	font-size: 14px;
}

/*
ORDER FORM END
*/

/*
ACTU
*/
.actu-title {
	background-image:linear-gradient( #0c2461, #0c2461, #0c2461, #0c2461, white);
	font-family: 'Arbutus Slab', serif;
	color: white;
	min-height: 50px;
	padding-top: 10px;
	text-align: center;
}

.actu {
	font-family: 'Arbutus Slab', serif;
	color: black;
	padding-top: 5%;
	padding-bottom: 5%;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	text-align: center;
	border-radius: 15px;
  	border: 2px solid #e67e22;
  	background-color: white;
  	font-weight: bold;
  	margin-bottom: 1%;
}

.actu-text {
	font-size: 20px;
	text-align: center;
	padding-bottom: 5%;
	font-weight: bold;
}

.actu-img {
	padding-bottom: 10%;
}

.button-actu {
	text-align: center;
	padding-bottom: 2%;
}

/*
ACTU END
*/

/*
CONTACT
*/

.contact-title {
	background-image:linear-gradient( #0c2461, #0c2461, #0c2461, #0c2461, white);
	font-family: 'Arbutus Slab', serif;
	color: white;
	min-height: 50px;
	padding-top: 10px;
	text-align: center;
}

.contact-text {
	padding-bottom: 10px;
	text-align: left;
}

.contact-gps {
	margin-left: auto;
	margin-bottom: 1%;
}

.contact-text-gps {
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0;
	font-family: 'Arbutus Slab', serif;
	color: black;
}

.contact {
	background-color: white;
	display: flex;
	padding-right: 0!important;
}



.contact-star {
	font-family: 'georgia';
	text-align: center;
}

.form-control {
	width: 90%;
	height: 80%;
}

.form1 {
	padding-top: 5%;
	border-radius: 15px;
  	border: 2px solid #e67e22;
  	background-color: white;
  	margin-bottom: 1%;	
}

label {
	font-family: 'Arbutus Slab', serif;
}
.contact-form {
	flex-direction: column;
}

#name {
	margin-left: 75px;
}

#email {
	margin-left: 11px;
}

.send {
	text-align: center;
}

.form-msg {
	text-align: center;
	padding-left: auto;
	padding-right: auto;
}

.form-marg {
	margin-top: 2%;
}

/*
CONTACT END
*/

/*
FOOTER
*/


.banner-bottom {
	width: 100%;
	height: 100px;
	background-color: #0c2461;
	display: flex;
	justify-content: space-around;
}

.banner-bottom-title {
	color : white;
	text-align: center;
	font-size: 11pt;
	margin-top: 1%;
}

.adress {
	font-size: 10pt;
	color : white;
	text-align: center;
	margin-top: 1%;
}

.social-button {
	background-color: white;
	height: 50px;
	margin-top: 1%;
	padding: 1%; 
	text-align: center;
	opacity: 0.5;
	border-radius: 25px;
}

.social-button :hover {
	color: #e67e22;
}

/*
FOOTER END
*/

/*
BODY END
*/